@page "/TableComponentSignalRExemple"
@inherits SignalRDataList<MyEntity>

<h3>TableExempleComponent & SignalRDataList Exemple</h3>
<h4>Save Crud operations in database</h4>
<br />

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <button class="btn btn-info" @onclick="Add">Create new MyEntity</button>
        </div>
        <div class="col-5">
            <button class="btn btn-info" @onclick="Drop">Drop Database</button>
        </div>
        <div class="col">
            <input type="number" class="form-control" @bind="Number" />
        </div>
        <div class="col">
            <button class="btn btn-info" @onclick="Generate">Generate</button>
        </div>
    </div>
</div>

<br />
<br />

@if (DataList.Count != 0)
{
    <TableComponent CustomItems="DataList"
                    GetFilterableText=@(item => $"{item.Id} {item.IsDisabled} {item.Data} {item.Numeric} {item.Now}")
                    Pagination="true"
                    PerPage="true"
                    PageSize="10"
                    Search="true"
                    Accordion="false"
                    NbCol="0"
                    @ref="ChildComponent">
        <TableHeader>
            <th><button class="btn btn-light" @onclick="@(() => ChildComponent.Sort(nameof(MyEntity.Id)))"><b>Id</b></button></th>
            <th><button class="btn btn-light" @onclick="@(() => ChildComponent.Sort(nameof(MyEntity.IsDisabled)))"><b>Is Disabled</b></button></th>
            <th><button class="btn btn-light" @onclick="@(() => ChildComponent.Sort(nameof(MyEntity.Numeric)))"><b>Numeric</b></button></th>
            <th><button class="btn btn-light" @onclick="@(() => ChildComponent.Sort(nameof(MyEntity.Data)))"><b>Data</b></button></th>
            <th><button class="btn btn-light" @onclick="@(() => ChildComponent.Sort(nameof(MyEntity.Now)))"><b>Now</b></button></th>
            <th>Update</th>
            <th>Delete</th>
        </TableHeader>
        <RowTemplate>
            <td class="align-middle">@context.Id</td>
            <td class="align-middle"><input @bind="@context.IsDisabled" type="checkbox" class="form-check"/></td>
            <td class="align-middle"><input @bind="@context.Numeric" type="number" class="form-control form-control-sm"/></td>
            <td class="align-middle"><input @bind="@context.Data" type="text" class="form-control form-control-sm"/></td>
            <td class="align-middle"><input @bind="@context.Now" type="datetime-local" class="form-control form-control-sm"/></td>
            <td class="align-middle"><button class="btn btn-warning btn-sm" @onclick="() => Update(context)">Update</button></td>
            <td class="align-middle"><button class="btn btn-danger btn-sm" @onclick="() => Delete(context)">Delete</button></td>
        </RowTemplate>
    </TableComponent>
}
