@page "/TableComponentExemple"
@inherits SignalRDataList<MyEntity>

<h3>TableComponent & SignalRDataList Exemple</h3>
<h4>Save Crud operations in database</h4>
@DataList.Count
<br />

<div class="container-fluid">
    <div class="row">
        <button class="btn btn-info" @onclick="Add">Create new MyEntity</button>
        <button class="btn btn-info" @onclick="Drop">Drop Database</button>
        <input type="number" class="form-control col-3" @bind="Number" />
        <button class="btn btn-info" @onclick="Generate">Generate</button>
    </div>
</div>

<br />
<br />

    @if (DataList.Count != 0)
{
    <TableComponent T="MyEntity"
                CustomItems="DataList"
                GetFilterableText=@(item => $"{item.Id} {item.IsDisabled} {item.Data} {item.Numeric} {item.Now}")
                @ref="ChildComponent">
        <TableHeader>
            <th>
                <button class="btn btn-light" @onclick="@(() => ChildComponent.Sort(nameof(MyEntity.Id)))">
                    <b>Id</b>
                </button>
            </th>
            <th>
                <button class="btn btn-light" @onclick="@(() => ChildComponent.Sort(nameof(MyEntity.IsDisabled)))">
                    <b>Is Disabled</b>
                </button>
            </th>
            <th>
                <button class="btn btn-light" @onclick="@(() => ChildComponent.Sort(nameof(MyEntity.Numeric)))">
                    <b>Numeric</b>
                </button>
            </th>
            <th>
                <button class="btn btn-light" @onclick="@(() => ChildComponent.Sort(nameof(MyEntity.Data)))">
                    <b>Data</b>
                </button>
            </th>
            <th>
                <button class="btn btn-light" @onclick="@(() => ChildComponent.Sort(nameof(MyEntity.Now)))">
                    <b>Now</b>
                </button>
            </th>
        </TableHeader>
        <RowTemplate>
            <td>@context.Id</td>
            <td>@context.IsDisabled</td>
            <td>@context.Numeric</td>
            <td>@context.Data</td>
            <td>@context.Now</td>
        </RowTemplate>
    </TableComponent>
}
