@page "/TestValidationModel"


<h3>TestValidationModel</h3>


<EditForm Model="@_model" OnValidSubmit="@ValidSubmit" OnInvalidSubmit="@InvalidSubmit">
    <div class="alert @_statusClass">@_statusMessage</div>
    
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="form-group">
        <label for="numeric">Numeric: </label>
        <InputNumber Id="numeric" Class="form-control" @bind-Value="@_model.Numeric"></InputNumber>
        <ValidationMessage For="@(() => _model.Numeric)" />
    </div>
    <div class="form-group">
        <label for="data">Data: </label>
        <InputText Id="data" Class="form-control" @bind-Value="@_model.Data"></InputText>
        <ValidationMessage For="@(() => _model.Data)" />
    </div>
    
    <div class="form-group">
        <label for="date">Date: </label>
        <InputDate Id="date" Class="form-control" @bind-Value="@_model.Now"></InputDate>
        <ValidationMessage For="@(() => _model.Now)" />
    </div>

    <button type="submit">Ok</button>
 
</EditForm>