@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using System.Globalization
@typeparam T

@if (Search)
{
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    @*<input class="form-control" type="text" @bind="_filter" @oninput="FilterItems" placeholder="Search" id="search" />*@
                    <input class="form-control" type="text" @bind-value="_filter" @bind-value:event="oninput" @onkeyup="@OnValueChange" placeholder="Search" id="search" />
                </div>
                <div class="btn btn-info col-2" @onclick="Clear">
                    Clear
                </div>
                <div class="col">
                    <label for="search" class="col-form-label">@Quantity.ToString("N0") Items</label>
                </div>
            </div>
        </div>
    </div>
}

<table class="table table-hover table-sm">
    <thead>
        <tr>
            @TableHeader
            @if (Accordion)
            {
                <th>Open</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in GetPage())
        {
            @if (!Accordion)
            {
                <tr>@RowTemplate(item)</tr>
                @if (RenderFragmentCollapse != null)
                {
                    <tr class="border border-5 border-info">
                        @if (WithTab)
                        {
                            <td></td>
                        }
                        <td colspan="@NbCol">
                            @RenderFragmentCollapse(item)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="@(item.Equals(_item) && Collapse ? "border border-5 border-info" : "")">
                    @RowTemplate(item)
                    <td><button class="btn btn-dark" @onclick="(()=>Display(item))">Open</button></td>
                </tr>
                @if (item.Equals(_item) && Collapse)
                {
                    <tr class="border border-5 border-info">
                        @if (WithTab)
                        {
                            <td></td>
                        }
                        <td colspan="@NbCol">
                            @RenderFragmentCollapse(item)
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@if (Pagination)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button class="bi bi-chevron-double-left btn btn-light @(Index == 0 ? "disabled" : "")" @onclick="() => ChangePage(1)"></button>
            </li>
            <li class="page-item">
                <button class="bi bi-chevron-left btn btn-light @(Index == 0 ? "disabled" : "")" @onclick="() => ChangePage(Index)"></button>
            </li>
            @foreach (var numPage in Pages)
            {
                <li class="page-item">
                    <button class="btn @(Index + 1 == numPage ? "btn-info" : "btn-light")" @onclick="() => ChangePage(numPage)">@(numPage)</button>
                </li>
            }
            <li class="page-item">
                <button class="bi bi-chevron-right btn btn-light @(Index >= NbPage-1 ? "disabled" : "")" @onclick="() => ChangePage(Index+2)"></button>
            </li>
            <li class="page-item">
                <button class="bi bi-chevron-double-right btn btn-light @(Index >= NbPage-1 ? "disabled" : "")" @onclick="() => ChangePage(NbPage+2)"></button>
            </li>
        </ul>
    </nav>

    @if (PerPage)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <button class="btn @(PageSize == 5 ? "btn-info" : "btn-light")" @onclick="() => ChangePageSize(5)">5</button>
                </li>
                <li class="page-item">
                    <button class="btn @(PageSize == 10 ? "btn-info" : "btn-light")" @onclick="() => ChangePageSize(10)">10</button>
                </li>
                <li class="page-item">
                    <button class="btn @(PageSize == 20 ? "btn-info" : "btn-light")" @onclick="() => ChangePageSize(20)">20</button>
                </li>
                <li class="page-item">
                    <button class="btn btn-light" disabled="">Par pages</button>
                </li>
            </ul>
        </nav>
    }
}